.hello{
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: rebeccapurple;
  margin: 20px 0 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.numbers {
  &-field {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid darkblue;
    font-size: 20px;
    padding: 5px 10px;
  }
  &-result{
    background: gray;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    width: 200px;
    border-radius: 4px;
    padding: 5px 10px;
    word-break: break-word;
    color: white;
  }
}
  .link{
    text-transform: uppercase;
    text-align: center;
    color: rebeccapurple;
    margin: 20px auto;
    display: block;
    width: 150px;
  }

  .message{
    font-size: 18px;
    text-align: center;
  }