<template>
    <main>
        <h4 class="hello">hello world!</h4>
        <p class="message">{{title}}</p>
        <router-link class="link" to="numbers">числа</router-link>
    </main>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Main',
  computed: {
    ...mapState({ title: state => state.appStore.title }),
  },
};
</script>
